---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const team = await getCollection("team");
const posts = await getCollection("posts");
---

<BaseLayout title="Home">
  <h1>Homepage</h1>
  <ul>
    {team.map((t) => <li>{t.data.name}</li>)}
  </ul>
  <ul>
    {
      posts.map((p) => {
        return (
          <li>
            <p>{p.data.title}</p>
            <p>{p.data.author.id}</p>
            <Image
              src={p.data.cover}
              alt={p.data.coverAlt}
              format="avif"
              width="500"
            />
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
