---
import Link from "./ui/Link.astro";
import Checkbox from "./ui/Checkbox.astro";
import Button from "./ui/Button.astro";
import { Icon } from "astro-icon/components";

export type LinkProps = {
  id: number;
  title: string;
  url: string;
  description: string;
  isRead: boolean;
};

type Props = {
  link: LinkProps;
};

const { link } = Astro.props;
---

<article
  class="p-4 sm:p-6 bg-theme-base text-theme-text shadow-black/60 shadow-xl rounded-md grid gap-6 relative"
>
  <div class="grid gap-2">
    <Checkbox
      checked={link.isRead}
      inputId={link.id}
      data-id={link.id}
      data-isRead
    />
    <h2 class="leading-tight font-bold text-theme-accent text-xl text-balance">
      {link.title}
    </h2>
    <p>{link.description}</p>
  </div>
  <Link href={link.url} intent="primary">Open Link</Link>
  <Button
    intent="accent"
    size="square"
    data-delete
    data-id={link.id}
    classes="absolute -top-2 -right-2 rounded-full border-4 border-theme-base hover:scale-105 active:scale-95 ring-offset-2"
    aria-label={`Delete Link: ${link.title}`}
  >
    <Icon name="trash" size={24} />
  </Button>
</article>

<script>
  // delete links
  const deleteBtns = document.querySelectorAll(
    "[data-delete]"
  ) as NodeListOf<HTMLButtonElement>;

  deleteBtns.forEach((btn) => {
    btn.addEventListener("click", async () => {
      const id = btn.dataset.id;
      try {
        if (!id) {
          throw new Error("No id present");
        }
        const req = await fetch(`/api/${id}.json`, {
          method: "DELETE",
        });

        if (!req.ok) {
          throw new Error("Delete req was not OK");
        }

        console.log("deleted");
        btn.closest("article")?.remove();
      } catch (e) {
        console.log(e);
      }
    });
  });

  // is Read Links
  const isReadChecks = document.querySelectorAll(
    "[data-isRead]"
  ) as NodeListOf<HTMLInputElement>;

  isReadChecks.forEach((check) => {
    check.addEventListener("click", async () => {
      const id = check.dataset.id;
      const isRead = check.checked;
      try {
        if (!id) {
          throw new Error("No id present");
        }
        console.log("something here");
        const req = await fetch(`/api/${id}.json`, {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ isRead }),
        });

        if (!req.ok) {
          throw new Error("Patch req was not OK");
        }

        console.log("updated");
      } catch (e) {
        console.log(e);
      }
    });
  });
</script>
