---
// library imports
import { Icon } from "astro-icon";

// component imports
import Button from "./Button.astro";

const {
  tier,
  most_popular,
  amount_per_month,
  title,
  description,
  btn_text,
  features,
} = Astro.props;
---

<article class:list={[{ "dark-shadow": most_popular }]}>
  <p class:list={["tier", tier.toLowerCase()]}>{tier}</p>

  <!-- badge -->
  {most_popular && <p class="badge">Most Popular</p>}

  <div class="details">
    <!-- amount -->
    <div class="amt">
      <span class="sign">$</span>
      <p class="num">{amount_per_month}</p>
      {amount_per_month > 0 && <span class="mo">/mo</span>}
    </div>
    <!-- title -->
    <h3 class="title">{title}</h3>
    <!-- description -->
    <p class="desc">{description}</p>
  </div>

  <!-- button -->
  <Button id={tier.toLowerCase()} theme={tier.toLowerCase()}>
    {btn_text}
  </Button>

  <!-- features -->
  <ul class="features">
    {
      features.map((f) => (
        <li class="feature">
          {f.checked ? (
            <Icon name="radix-icons:check" width="24" class="green" />
          ) : (
            <Icon name="radix-icons:cross-2" width="24" class="red" />
          )}
          <span>{f.title}</span>
        </li>
      ))
    }
  </ul>
</article>

<style>
  article {
    flex: 1 1 28%;
    background-color: var(--clr-bkg);
    box-shadow: var(--shadow--light);
    border-radius: var(--rounded);
    display: grid;
    gap: var(--space--xl);
    padding: var(--space--xxl) var(--space--lg) var(--space--lg);
    position: relative;
  }

  .dark-shadow {
    box-shadow: var(--shadow--dark);
  }

  .tier {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-block: var(--space--sm);
    border-top-right-radius: var(--rounded);
    border-top-left-radius: var(--rounded);
    text-transform: uppercase;
    --local_background: var(--clr-bkg);
    --local_color: var(--clr-accent-purple);
    color: var(--local_color);
    background-color: var(--local_background);
  }

  .pro {
    --local_background: var(--clr-accent-purple);
    --local_color: var(--clr-bkg);
  }

  .enterprise {
    --local_background: var(--clr-accent-yellow);
    --local_color: var(--clr-bkg);
  }

  .badge {
    background-color: var(--clr-text);
    color: var(--clr-bkg);
    padding: var(--space--sm);
    max-width: fit-content;
    justify-self: center;
    text-transform: uppercase;
    font-size: var(--fs--xs);
  }

  .details {
    display: grid;
    gap: var(--space--sm);
    place-items: center;
    text-align: center;
  }

  .amt {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: fit-content;
  }

  .num {
    font-size: var(--fs--lg);
    line-height: 1;
  }

  .mo {
    align-self: end;
  }

  .title {
    font-size: var(--fs--md);
    text-transform: uppercase;
  }

  .desc {
    max-width: 60%;
  }

  .features {
    list-style: none;
    margin-inline: auto;
  }

  .feature {
    display: flex;
    align-items: center;
  }

  .green {
    color: var(--clr-accent-green);
  }

  .red {
    color: var(--clr-accent-red);
  }
</style>
