---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import Link from "./Link.astro";
import Heading from "./Heading.astro";
import FormattedDate from "./FormattedDate.astro";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;

const { title, description, image, pubDate } = post.data;
---

<article aria-label={title} class="post-card">
  <div>
    <Image src={image} alt={title} width={400} height={200} format="avif" />
    <div class="content">
      <div class="rows">
        <div>
          <Heading tagName="h3" size="h4">
            <a href={`/blog/${post.slug}/`}>{title}</a>
          </Heading>
          <FormattedDate pubDate={pubDate} />
        </div>
        <p>{description}</p>
        <Link href={`/blog/${post.slug}/`}>Read Post</Link>
      </div>
    </div>
  </div>
</article>
