---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Heading from "./Heading.astro";
import { Icon } from "astro-icon/components";
import { getEntries } from "astro:content";

type Props = {
  data: CollectionEntry<"projects">["data"];
};

const { data } = Astro.props;

const { title, url, icons, thumbnail } = data;

const iconData = await getEntries(icons);
---

<article aria-label={title} class="project-tile">
  <a href={url}>
    <Image src={thumbnail} alt={title} width={400} format="avif" />
    <div class="content">
      <div class="columns">
        <Heading tagName="h3" size="h4">{title}</Heading>
        <Icon name="icon--external-link" size={25} />
      </div>
      <ul>
        {
          iconData.map(({ data }) => (
            <li>
              <Icon name={data.icon} title={data.icon} aria-label={data.icon} />
            </li>
          ))
        }
      </ul>
    </div>
  </a>
</article>
